/* poppins-300 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/poppins-v19-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v19-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-regular - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/poppins-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/poppins-v19-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v19-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/poppins-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-800 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/poppins-v19-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v19-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    color: #fff;

    background-color: #12141D;
}

.wrapper {
    max-width: 1150px;
    padding: 0 20px;
    height: 100%;
    margin: 0 auto;
}

/* 1).header
=========================*/

.header {
    height: 76px;
    width: 100%;

    background-color: #12141D;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header__container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;

    text-decoration: none;
    color: #fff;

    transition: .2s linear;
}

.header__logo:hover {
    color: #4080BF;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav__link {
    margin-right: 40px;
    height: min-content;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    text-decoration: none;
    color: #fff;

    position: relative;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    opacity: 1;
    transition: transform .3s linear;
    transform: scale(0);
    transform-origin: center;
  }

.nav__link:hover::after,
.nav__link:focus::after {
    transform: scale(1);
}

.contact-btn {
    padding: 13px 28px;

    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    text-decoration: none;
    color: #fff;
    background-color: #4080BF;
    border-radius: 10px;

    display: inline-block;

    transition: .2s linear;
}

.contact-btn:hover,
.contact-btn:focus {
    background-color: #326699;
}

.header__burger {
    width: 32px;
    height: 25px;

    display: none;
    position: relative;
}

.burger__line {
    width: 100%;
    height: 2px;

    display: block;
    background-color: #fff;

    position: absolute;
    left: 0;
}

.burger__line_first {
    top: 0;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    bottom: 0;
}

/* 2).main
=========================*/

.main {
    padding: 126px 0;
}

.main__wrapper {
    max-width: 1150px;
    padding: 0 20px;
    height: 100%;
    margin: 0 auto;

    overflow: hidden;
    border-radius: 20px;
}

.main__content {
    width: 100%;
    height: 100%;

    position: relative;
}

.main_bg {
    width: 100%;
    height: 100%;

    transition: transform 20s linear;
}

.main__content:hover .main_bg{
    transform: scale(1.1);
}

.main__info {
    position: absolute;
    bottom: 90px;
    right: 0;
}

.main__title {
    margin-bottom: 10px;
    max-width: 747px;


    font-weight: 800;
    font-size: 61px;
    line-height: 92px;
}

.main__text {
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
}

/* 3).section-about
=========================*/

.section-about__wrapper {
    max-width: 1150px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 20px;
}

.section-about__title {
    margin-bottom: 40px;
    max-width: 332px;

    font-weight: 800;
    font-size: 50px;
    line-height: 70px;
}

.facts-about-container {
    width: 100%;

    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

.facts-about-container__fact {
    max-width: 540px;

    display: flex;
    align-items: flex-start;
}

.facts-about-container__fact_item {
    max-width: 440px;
}

.facts-about-container__pic {
    margin-right: 30px;
}

.facts-about-container__title {
    margin-bottom: 5px;

    font-weight: 600;
    font-size: 28px;
    line-height: 42px;

    text-transform: capitalize;
}

.facts-about-container__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;

    text-transform: capitalize;
}

/* 4).section-services
=========================*/

.services__title {
    margin: 50px auto;
    max-width: 600px;

    font-weight: 800;
    font-size: 50px;
    line-height: 83px;
    text-align: center;
    text-transform: capitalize;
}

.services__content {
    margin: 0 auto 100px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.services__card {
    padding: 20px 20px 40px;

    background: #1E2028;
    border-radius: 10px;
    grid-column: span 2;

    transition: .2s linear;
}

.services__card:hover {
    background: #282a33;
}

.services__pic {
    margin-bottom: 50px;
}

.services__subtitle {
    margin-bottom: 10px;

    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.services__text {
    margin-bottom: 50px;

    font-size: 16px;
    line-height: 28px;
}

.services__link {
    padding-right: 35px;

    font-size: 14px;
    line-height: 20px;
    color: #A1C5E9;
    text-decoration: none;

    background: url(/img/services/arrow.svg) no-repeat right center;
    transition: .2s linear;
}

.services__card:hover .services__link {
    padding-right: 30px;
}

/* 5).section-project
=========================*/

.project__title-conteiner {
    margin: 50px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.project__title {
    max-width: 428px;

    font-weight: 800;
    font-size: 50px;
    line-height: 70px;
}

.project__link-container {
    width: 94px;
}

.project__link {
    padding-right: 35px;

    font-size: 14px;
    line-height: 20px;
    color: #A1C5E9;
    text-decoration: none;

    background: url(/img/services/arrow.svg) no-repeat right center;
    transition: .2s linear;
}

.project__link:hover {
    padding-right: 30px;
}

.project__content {
    margin-bottom: 50px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.project__pic {
    width: 100%;
    background: #1E2028;
    border-radius: 10px;
}

/* 5).section-founders
=========================*/

.section-founders {
    padding: 100px 0;
}

.founders__title {
    margin-bottom: 50px;

    font-weight: 800;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
}

.founders__wrrapper {
    margin: 0 auto;
    max-width: 1110px;
    padding: 0 20px;

    max-height: 1100px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.founders__container {
    margin-bottom: 25px;
    max-height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.founders__container:last-child {
    margin-bottom: 0;
}

.founders__container:nth-child(3) {
    margin-top: 70px;
}

.founders__info {
    margin-right: 11px;
    margin-bottom: 10px;

    max-width: 210px;
    max-height: 100%;
    text-align: right;

    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.founders__info-bottom {
    margin-bottom: 70px;
}


.founders__info-right {
    margin-left: 10px;
    order: 2;
    text-align: left;
}

.founders__name {
    flex-basis: 100%;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.founders__about {
    width: 100%;

    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}


.founders__pic {
    max-width: 100%;
}

.founders__pic-one {
    border-radius: 100px 0 0 0;
}

.founders__pic-two {
    border-radius: 0 0 0 100px;
}

.founders__pic-free {
    border-radius: 0 100px 0 0;
}

.founders__pic-four {
    border-radius: 0 0 100px 0;
}

/* 6).section-testimonials
=========================*/

.section-testimonials__wrapper {
    padding: 75px 20px 150px;
    max-width: 1110px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.testimonials__title {
    width: 366px;
    font-weight: 800;
    font-size: 50px;
    line-height: 83px;
}

.testimonials__text {
    max-width: 491px;
    font-size: 18px;
    line-height: 35px;
}

.testimonials__quote-container {
    padding: 0 45px 50px 25px;
    width: 570px;
    background-color: #1E2028;

    border-radius: 10px;

    position: relative;
}

.testimonials__item {
    opacity: .5;

    position: absolute;
    top: 40px;
    right: 45px;
}

.testimonials__quote-autor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.testimonials__quote-autor_pic {
    margin-right: 20px;
}

.testimonials__quote-autor_pic,
.testimonials__quote-autor_info {
    margin-top: 100px;
}

.testimonials__quote-autor_info {
    margin-bottom: 20px;
}

.testimonials__quote-autor_name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.testimonials__quote-autor_activity {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;

    opacity: .5;
}

.testimonials__quote {
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;

    opacity: .5;
}

/* 7).section-cta
=========================*/

.section-cta {
    padding: 50px 0;

    background: #1E2028;
}

.cta__title {
    margin-bottom: 36px;

    font-weight: 800;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
}

.cta__btn-container {
    text-align: center;
}

.contact-btn__cta {
    margin-bottom: 50px;
}

.cta__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cta__item {
    width: 237px;
    margin-right: 30px;

    border-right: 2px solid white;
    border-left: 2px solid white;
}

.cta__item:last-child {
    margin-right: 0;
}

.cta__quantity {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
}

.cta__quantity-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    opacity: .5;
}

/* 8).footer
=========================*/

.footer__wrapper {
    max-width: 1040px;
    padding: 100px 20px 40px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.footer__sakaagency,
.footer__company,
.footer__support {
    margin-right: 50px;
    margin-bottom: 50px;
}

.footer__sakaagency {
    width: 210px;
}

.footer__sakaagency-title {
    margin-bottom: 10px;

    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
}

.footer__sakaagency-text {
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.footer__sakaagency-btn-link {
    margin-right: 10px;
    text-decoration: none;
}

.footer__sakaagency-btn-link:last-child {
    margin-right: 0;
}

.footer__company-title {
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.footer__company-link {
    margin-bottom: 10px;

    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #fff;

    text-decoration: none;
    opacity: .5;

    display: inline-block;
}

.footer__company-link:last-child {
    margin-bottom: 0;
}

.footer__support-title {
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.footer__support-link {
    margin-bottom: 10px;

    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #fff;

    text-decoration: none;
    opacity: .5;

    display: inline-block;
}

.footer__support-link:last-child {
    margin-bottom: 0;
}

.footer__getintouch-title {
    margin-bottom: 18px;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.footer__getintouch-input {
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    border: none;
    color: #D9DBE1;

}

.footer__getintouch-input::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #D9DBE1;
}

.footer__getintouch-input-link {
    position: absolute;
    transform: translate(-30px, 10px);
}

@media (max-width: 1100px) {

    .services__card {
        grid-column: span 3;
    }

    .founders__pic {
        border-radius: 50px 50px 0 0;
    }

    .founders__info {
        order: 2;
        text-align: left;
    }

    .founders__container {
        margin-bottom: 0;
    }

    .founders__container:nth-child(3) {
        margin-top: 0;
    }

    .founders__photo {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .founders__wrrapper {
        display: grid;
        max-width: 650px;

        column-gap: 60px;
        row-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }

    .founders__info-bottom {
        margin-bottom: 0;
    }

    .testimonials__custimer-say {
        margin: 0 auto 50px;
        text-align: center;
    }

    .testimonials__title {
        width: 100%;
    }

    .testimonials__quote-container {
        margin: 0 auto;
    }
}

@media (max-width: 930px) {

    .contact-btn-header {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .nav {
        width: 100%;
        height: 100%;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;

        background-color: #12141D;

        flex-direction: column;
        align-items: center;

        transform: translateX(100%);

        transition: .2s linear;
    }

    .nav-active {
        transform: translateX(0);
    }

    .nav__link {
        margin-right: 0;
        margin-bottom: 50px;

        font-size: 50px;
        line-height: 60px;
        font-weight: 600;
        text-align: center;

        width: min-content;
    }

    .nav__link:last-child {
        margin-bottom: 0;
    }

    .nav__link::after {
        bottom: -10px;
    }

    .header__nav-close {
        width: 60px;
        height: 60px;

        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header__nav-close-line {
        width: 100%;
        height: 2px;

        display: block;
        background-color: #fff;

        position: absolute;
        top: 50%;
    }

    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .main__info {
        max-width: 650px;
        bottom: 50px;
    }

    .main__title {
        margin-bottom: 5px;

        font-weight: 800;
        font-size: 51px;
        line-height: 56px;
    }

    .main__text {
        margin-bottom: 20px;

        font-size: 18px;
        line-height: 30px;
    }

    .section-about__title {
        margin: 0 auto 40px;
        text-align: center;
    }

    .cta__item {
        border: none;
        margin-right: 0;
    }

    .cta__item:nth-child(2) {
        border-right: 2px solid white;
        border-left: 2px solid white;
    }

    .footer__wrapper {
        justify-content: center;
    }
}



@media (max-width: 768px) {

    .main__info {
        max-width: 600px;
        bottom: 20px;
    }

    .main__title {
        margin-bottom: 5px;

        font-size: 43px;
        line-height: 52px;
    }

    .main__text {
        margin-bottom: 20px;

        font-size: 16px;
        line-height: 30px;
    }

    .facts-about-container__fact {
        grid-column: span 2;
        margin: 0 auto 30px;
    }

}

@media (max-width: 720px) {

    .services__content {
        margin: 0 auto 100px;
        width: 60%;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 30px;
    }

    .services__card {
        padding: 20px 20px 40px;
        max-width: 500px;
        max-height: 350px;

        background: #1E2028;
        border-radius: 10px;
        grid-column: span 6;

        transition: .2s linear;
    }

    .project__card {
        grid-column: span 2;
    }

    .cta__title {
        margin-bottom: 20px;
        padding: 0 10px;
        font-size: 33px;
        line-height: 45px;
    }

    .contact-btn__cta {
        margin-bottom: 20px;
    }

    .cta__container {
        flex-direction: column;
    }

    .cta__item {
        width: 160px;
        padding: 10px 0;
    }

    .cta__item,
    .cta__item:last-child {
        margin: 0 auto;
    }

    .cta__item:nth-child(2) {
        border: none;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

}

@media (max-width: 658px) {

    .main__info {
        max-width: 500px;
        bottom: 20px;
    }

    .main__title {
        margin-bottom: 5px;

        font-size: 35px;
        line-height: 40px;
    }

    .main__text {
        margin-bottom: 10px;

        font-size: 14px;
        line-height: 30px;
    }

    .contact-btn {
        transform: scale(.9);
    }

    .services__title {
        font-size: 40px;
        line-height: 50px;
    }

    .services__pic {
        margin-bottom: 25px;
    }

    .services__text {
        margin-bottom: 15px;
    }

    .project__title {
        max-width: 331px;
        font-weight: 800;
        font-size: 38px;
        line-height: 50px;
    }

    .founders__title {
        font-size: 45px;
        line-height: 50px;
    }

    .founders__wrrapper   {
        column-gap: 30px;
    }

}

@media (max-width: 540px) {

    .main__title,
    .main__text {
        text-shadow: 1px 1px 10px #282a33;
    }

    .nav__link {
        font-size: 40px;
        line-height: 50px;
    }

    .main {
        padding: 86px 0 0;
    }

    .main__info {
        width: 100%;
        padding: 0 10px;
        text-align: center;
    }

}

@media (max-width: 414px) {

    .main__info {
        bottom: 5px;
    }

    .main__title {
        margin-bottom: 5px;

        font-size: 28px;
        line-height: 40px;
    }

    .main__text {
        margin-bottom: 30px;
        line-height: 21px;
    }

    .main-contact-btn {
        display: none;
    }

    .section-about__title {
        font-size: 35px;
        line-height: 40px;
    }

    .facts-about-container__pic {
        margin-right: 20px;
    }

    .facts-about-container__title {
        font-size: 23px;
        line-height: 30px;
    }

    .facts-about-container__text {
        font-size: 14px;
        line-height: 25px;
    }

    .services__title {
        margin-top: 0;

        font-size: 31px;
        line-height: 40px;
    }

    .services__content {
        margin-bottom: 0;
        width: 90%;
    }

    .project__title-conteiner {
        margin-bottom: 20px;
    }

    .project__title {
        margin-bottom: 20px;
        max-width: 100%;

        font-size: 35px;
        line-height: 40px;

        text-align: center;
    }

    .project__content {
        gap: 20px;
    }

    .section-founders {
        padding: 0;
    }

    .founders__title {
        margin-bottom: 25px;
        font-size: 35px;
        line-height: 40px;
    }

    .founders__name {
        font-size: 15px;
        line-height: 21px;
    }

    .founders__about {
        font-size: 14px;
        line-height: 22px;
    }

    .section-testimonials__wrapper {
        padding: 75px 20px 44px;
    }

    .testimonials__title {
        margin-bottom: 15px;

        font-size: 35px;
        line-height: 40px;
    }

    .testimonials__item {
        width: 60px;
    }

    .testimonials__quote-container {
        padding-top: 90px;
    }

    .testimonials__quote-autor_pic,
    .testimonials__quote-autor_info {
        margin-top: 20px;
    }

    .cta__title {
        font-size: 28px;
        line-height: 37px;
    }

    .footer__wrapper {
        padding-top: 30px;
    }

    .footer__wrapper {
        justify-content: center;
    }

    .footer__sakaagency {
        margin: 0 50px 50px;
    }

    .footer__company {
        margin-right: 50px;
        margin-bottom: 50px;
    }

    .footer__support {
        margin-right: 0;
        margin-bottom: 50px;
    }
}

@media (max-width: 375px) {

    .header__nav-close {
        width: 50px;
        height: 50px;
    }

    .nav__link {
        margin-bottom: 30px;
        font-size: 36px;
        line-height: 47px;
    }

    .main__title {
        margin-bottom: 11px;
        font-size: 23px;
        line-height: 30px;
    }

    .main__text {
        line-height: 16px;
    }

    .testimonials__quote {
        font-size: 15px;
        line-height: 30px;
    }
}

@media (max-width: 320px) {

    .header__logo {
        font-size: 27px;
    }

    .main__title {
        margin-bottom: 5px;
        font-size: 20px;
        line-height: 25px;
    }

    .section-about__title {
        margin-bottom: 30px;

        font-size: 30px;
        line-height: 35px;
    }

    .facts-about-container__pic {
        width: 60px;
    }

    .services__title {
        margin: 0 auto 20px;
        font-size: 25px;
        line-height: 35px;
    }

    .services__pic {
        margin-bottom: 20px;
    }

    .services__subtitle {
        margin-bottom: 5px;
        font-size: 20px;
        line-height: 30px;
    }

    .services__text {
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 26px;
    }

    .project__title  {
        font-size: 31px;
    }

    .testimonials__title {
        margin-bottom: 10px;

        font-size: 27px;
        line-height: 30px;
    }

    .testimonials__text {
        font-size: 16px;
        line-height: 26px;
    }
}